# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Parker\Desktop\SPU CS\2430 Data Structures I\Landon_P CLion Hello World GitHub\CLion-Hello-World\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
